version: '3.9'
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: danceschool
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  caddy:
    image: caddy:2
    restart: always
    environment:
      SERVER_NAME: ${SERVER_NAME:-localhost, caddy:80}
    ports:
      - "80:80"     # HTTP
      - "443:443"   # HTTPS
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./docker/caddy/dev/Caddyfile:/etc/caddy/Caddyfile

volumes:
  pg_data:
  caddy_data:
  caddy_config: