version: '3.9'
services:
  kafka:
    image: apache/kafka:latest
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: danceschool
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  caddy:
    image: caddy:2
    restart: always
    environment:
      SERVER_NAME: ${SERVER_NAME:-localhost, caddy:80}
    ports:
      - "80:80"     # HTTP
      - "443:443"   # HTTPS
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./docker/caddy/dev/Caddyfile:/etc/caddy/Caddyfile

volumes:
  pg_data:
  caddy_data:
  caddy_config: