version: '3.9'
services:
  kafka:
    image: apache/kafka:latest
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: danceschool
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  app:
    image: ${CONTAINER_REGISTRY_BASE}/app:latest
    build: .
    restart: always
    depends_on:
      - db
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/danceschool
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      CORS_ALLOWED_ORIGINS: https://localhost/
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "8080:8080"

  notifications-app:
    image: ${CONTAINER_REGISTRY_BASE}/notifications-app:latest
    build:
      context: ../danceschool-notifications
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - kafka
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  caddy:
    image: caddy:2
    restart: always
    ports:
      - "80:80"     # HTTP
      - "443:443"   # HTTPS
    depends_on:
      - app
      - frontend
    environment:
      SERVER_NAME: ${SERVER_NAME:-localhost, caddy:80}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./docker/caddy/prod/Caddyfile:/etc/caddy/Caddyfile

  frontend:
    image: ${CONTAINER_REGISTRY_BASE}/frontend:latest
    build:
      context: ../danceschool-frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_BASE_URL: /api/
      NEXT_PUBLIC_WS_URL: /ws/
    ports:
      - "3000:3000"

volumes:
  pg_data:
  caddy_data:
  caddy_config: